<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Timpack\PwnedValidator\Api\ValidatorInterface" type="Timpack\PwnedValidator\Model\Validator"/>
    <preference for="Magento\Customer\Model\AccountManagement"
                type="Timpack\PwnedValidator\Rewrite\Model\AccountManagement"/>
    <type name="Timpack\PwnedValidator\Api\ValidatorInterface">
        <arguments>
            <argument name="httpClient" xsi:type="object">Magento\Framework\HTTP\Client\Curl</argument>
        </arguments>
    </type>
</config>